@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600;900&family=Roboto+Mono:wght@360&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    width: 100vw;
    overflow: overlay;
}
body {
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: 100%;
}
header {
    background: #1565c0;
    height: 256px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
main img {
    max-width: 576px;
    width: 100%;
}

header h1 {
    margin: auto;
    font-size: 72px;
}
header a {
    color: #ffffff;
}
main {
    max-width: 576px;
    margin: 8px auto 16px auto;
}
a {
    color: #1565c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media only screen and (max-width:576px) {
    header h1 {
        font-size: 48px;
    }
    main {
        padding: 16px;
    }
}

nav {
    background: #1565c0;
    z-index: 16777216;
    top: 0;
    box-shadow: 0 4px 8px #00000080;
    height: 64px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    align-items: stretch;
}

#nav-left, #nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

#github-logo {
    width: 40px;
    display: block;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #00000099;
    border-radius: 1024px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000cc;
}

select {
	position: relative;
	font-family: inherit;
	background-color: transparent;
    height: 36px;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #00000033;
    transition: 200ms;
    min-width: 288px;
    padding-left: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.select label {
    color: #1565c0;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    top: 8px;
    left: 8px;
}

select:hover {
	border-bottom: 2px solid #1565c0;
}

select:focus {
    outline: none;
    border-bottom: 2px solid #1565c0;
}

.note {
    background: #e3f2fD;
    border-left: 4px solid #2196f3;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    gap: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

.note > img {
    width: 64px;
    height: 64px;
}

.note p {
    margin: 0;
}

.warning {
    background: #fffde7;
    border-left: 4px solid #ffeb3b;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    gap: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

.warning > img {
    width: 64px;
    height: 64px;
}

.warning p {
    margin: 0;
}

.button {
    background-color: #1565c0;
    color: #ffffff;
    margin: 12px 0;
    box-shadow: 0 2px 4px #00000080;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 8px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    transition: 400ms;
    gap: 8px;
    position: relative;
    overflow: hidden;
}

.button:hover {
    box-shadow: 0 4px 8px #00000080;
    text-decoration: none;
}

.material-icons {
    font-family: "Material Icons";
}

.button .ripple-pad {
    background: #ffffff99;
    position: absolute;
    opacity: 1;
    transform: scale(0);
    animation: RippleEffect 300ms cubic-bezier(0.2, 0, 0, 0.5) forwards;
}

@keyframes RippleEffect {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

.button-red {
    background: #f44336;
}

.button-green {
    background: #4caf50;
}

.button-amber {
    background: #ffc107;
    color: #212121;
}

.button-teal {
    background: #009688;
}

.button-purple {
    background: #9c27b0;
}

.button-pink {
    background: #e91e63;
}

.button-lightblue {
    background: #03a9f4;
    color: #212121;
}

pre {
    background: #eceff1;
    border-left: 4px solid #546e76;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

pre, code {
    font-family: "Roboto Mono";
    font-size: 15px;
}

b {
    font-weight: 600;
}

details summary {
    background-color: #1565c0;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-radius 100ms cubic-bezier(0.66, 0, 0.35, 1);
    box-shadow: 0 2px 4px #00000080;
}

details summary > * {
    display: inline;
}

details > summary img {
    width: 32px;
    display: block;
}

details-body {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 12px;
    border-radius: 0 0 4px 4px;
}

details[open] summary ~ * {
    animation: sweep 100ms cubic-bezier(0.66, 0, 0.35, 1);
}

details[open] summary {
    border-radius: 4px 4px 0 0;
}

@keyframes sweep {
    0% {
        opacity: 0; margin-top: -96px
    }
    100% {
        opacity: 1; margin-top: 0px
    }
}
  
details {
    margin-top: 12px;
    box-shadow: 0 4px 8px #00000080;
}

@media screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 12px;
        height: auto;
        padding: 12px 0;
    }
}

@media screen and (max-width: 576px) {
    #nav-left, #nav-right, nav {
        flex-direction: column;
        row-gap: 8px;
    }
}
